<!--
  Generated template for the IncomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Income</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item><ion-label>Pocket money</ion-label><ion-input type="number" style="text-align: right" [(ngModel)]="pocketMoney"></ion-input></ion-item>

    <ion-list-header>
      Chores
    </ion-list-header>


    <ion-item *ngFor="let chore of chores; let i=index" no-lines>
      <ion-label>{{chore.description}} :  </ion-label>
      <ion-input [(ngModel)]="chore.amount"></ion-input>
      <ion-checkbox  (ionChange)="updateCheckbox(i,chore.checked)" [checked]="chore.checked"  item-end> </ion-checkbox>



    </ion-item>

    <ion-fab bottom right>
      <button ion-fab color="primary" (click)="addIncome()">
        <ion-icon name="add"></ion-icon></button>
    </ion-fab>









  </ion-list>
</ion-content>
