<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Summary" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Income" tabIcon="cash"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Expenses" tabIcon="pricetag"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Goal" tabIcon="star"></ion-tab>

</ion-tabs>
