page-home {
    .income {
        color: green;
    }
    .expenses {
        color: red;
    }

    .imgContainer{
        text-align: right;

        img{
            border-radius: 50%;
            width: 100px;

        }

    }
}
