<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <div *ngIf="this.goal">
    <div class="imgContainer">
      <img [src]="this.goalImg">
    </div>
    Progress : {{goalProgress}}% to {{goalName}}
    <progress-bar [goal]="goalName" [progress]="goalProgress"></progress-bar>

  </div>

  <ion-list>
    <ion-list-header>
      Income
    </ion-list-header>
    <ion-item >Pocket Money<span class="income" item-end>{{pocketMoney | currency}}</span></ion-item>
    <ion-item *ngFor="let i of income">{{i.description}}<span class="income" item-end>{{i.amount | currency}}</span></ion-item>

    <ion-list-header>
      Expenses
    </ion-list-header>
    <ion-item *ngFor="let i of expenses">{{i.description}}
      <span class="expenses" item-end>{{i.amount | currency}}</span>
    </ion-item>

    <ion-list-header>      
    </ion-list-header>
    <ion-item>Balance<span item-end>{{balance | currency}}</span></ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="navToStory()">
      <ion-icon name="play"></ion-icon></button>
  </ion-fab>

</ion-content>
