<!--
  Generated template for the AddGoalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New  Goals! New Dreams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="imageContainer" (click)="goToHomeScreen(profile.name)">
    <img [src]="img" >

  </div>

  <ion-item>
    <ion-label stacked>New Goal</ion-label>
    <ion-input [(ngModel)]="name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Goal Type</ion-label>
    <ion-select>
      <ion-option> Trips </ion-option>
      <ion-option> Entertainment </ion-option>
      <ion-option> Educational </ion-option>
      <ion-option> Sport </ion-option>

    </ion-select>
  </ion-item>

  <br>

  <ion-item>
    <ion-label stacked>Price</ion-label>
    <ion-input [(ngModel)]="amount" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Description</ion-label>
    <ion-input [(ngModel)]="description" ></ion-input>
  </ion-item>
  <br>

  <button ion-button block  (click)="dismiss()"> Close </button>


</ion-content>
