<!--
  Generated template for the IncomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Expenses</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>



    <ion-item *ngFor="let expense of expenses; let i = index" no-lines>
      <ion-label>{{expense.description}} :  </ion-label>
      <ion-input [(ngModel)]="expense.amount"></ion-input>
      <ion-checkbox (ionChange)="updateCheckbox(i,expense.checked)" [checked]="expense.checked"  item-end> </ion-checkbox>



    </ion-item>

    <ion-fab bottom right>
      <button ion-fab color="primary" (click)="addExpense() ">
        <ion-icon name="add"></ion-icon></button>
    </ion-fab>









  </ion-list>
</ion-content>
