<!--
  Generated template for the AddIncomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content no-padding class="main-view">

  <div  (click)="dismiss()"></div>

  <div>
    <ion-toolbar color="searchBarColor">
      <ion-title>{{title}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="ios-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

    <!--

    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-select>
        <ion-option> Sweeping</ion-option>
        <ion-option> Washing</ion-option>
        <ion-option> Moping Floor</ion-option>
        <ion-option> Cleaning </ion-option>
        <ion-option> Grocery </ion-option>

      </ion-select>
    </ion-item>

    -->

    <ion-item>
      <ion-label stacked>Task</ion-label>
      <ion-input [(ngModel)]="description" ></ion-input>
    </ion-item>


    <br>
    <ion-item>
      <ion-label stacked>Reward</ion-label>
      <ion-input  type="number" [(ngModel)]="amount" ></ion-input>
    </ion-item>
    <br>

    <button ion-button block  (click)="dismiss()"> Close </button>

  </div>
</ion-content>

