<!--
  Generated template for the GoalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Goal </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let goal of goals">
    <img [src]= "goal.goalImg">
    <ion-card-content>
      <ion-card-title>
        {{goal.goalName}}
      </ion-card-title>
      <h4>
        {{goal.goalDescription}}
      <span class="price">{{goal.goalPrice}}</span>
      </h4>

    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="createNewGoal()">
      <ion-icon name="add"></ion-icon></button>
  </ion-fab>


</ion-content>
