<!--
  Generated template for the ProfileSelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile Select</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row *ngFor="let profile of profiles">
      <ion-col>
        <div class="imageContainer" (click)="goToHomeScreen(profile.name)">
          <img [src]="profile.image" >

        </div>
      </ion-col>
    </ion-row>


  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="faceProblem()">
      <ion-icon name="contact"></ion-icon></button>
  </ion-fab>


</ion-content>
