page-story {
    .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }
}

.story-text {
    font-family: Verdana;
    font-size: large;
    margin: 2em;
}

.story-img {
    text-align: center;
    width: 40vw;
}

// div {
//     text-align: center;
// }
