<!--
  Generated template for the StoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>story</ion-title>
  </ion-navbar>
 
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Story
    </ion-card-header>
    <ion-card-content>
      <div><img class="story-img" src="assets/imgs/image1.jpg"></div>
      <div class="story-text">
        Megan has dreams to go to Sunway Lagoon. She needs {{ goal }} ringgit but only has {{ currentBalance }} in her hand. With the help of her Fairy Godmother, she will have enough to go to the wonder land in 7 weeks.
        “But that’s too long away”, she cried.
      </div>
      <canvas #lineCanvas></canvas>
      <div><img class="story-img" src="assets/imgs/image2.jpg"></div>
      <div class="story-text">
        Her eyes then opened wide, “I know! There are stuff that I can let go!”.
        If she stops buying
        <ng-container *ngFor="let e of expenses;">
            {{e.description}},
        </ng-container>
        she will be able to go to Sunway Lagoon in 4 weeks instead of 7.
      </div>
      <canvas #lineCanvas2></canvas>
      <div><img class="story-img" src="assets/imgs/lagoon1.jpg"></div>
      <div class="story-text">
        “But that’s still not soon enough!”
        The Fairy Godmother then told her quests she could do:
        <ng-container *ngFor="let c of chore;">
          <p style="font-family: Verdana; font-size: large;">{{c.description}} for RM{{c.amount}}</p>
        </ng-container>
        Do them all and she could go to Sunway Lagoon in 2 weeks!
        So soon! Excited she let go what she doesn’t need and will start doing the quests.
      </div>
      <canvas #lineCanvas3></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
